html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Archivo";
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.star {
  width: 1.5rem;
  height: 1.5rem;
}

.review {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.review-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-box-left {
  width: 40%;
  min-width: 400px;
  padding: 32px 32px 32px 0;
}

.review-title {
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
}

.review-summary {
  line-height: 1.5;
  color: hsl(300, 43%, 22%);
}

.highlight-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 40px;
  padding-left: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsl(300, 43%, 22%);
}

.highlight-box:nth-child(1) {
  right: 60px;
}

.highlight-box:nth-child(2) {
  right: 30px;
}

.highlight-box .star {
  margin-top: 5px;
  -webkit-transition: 5s;
  transition: 5s;
}

.highlight-box p {
  margin-left: 32px;
}

.review-user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.user-box {
  position: relative;
  padding: 30px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 15px 3px rgba(128, 128, 128, 0.3);
          box-shadow: 0 0 15px 3px rgba(128, 128, 128, 0.3);
  overflow: hidden;
}

.user-box::after {
  content: "";
  width: 100px;
  height: 120%;
  position: absolute;
  left: -110px;
  top: -10px;
  background: #2a7b9b;
  background: linear-gradient(105deg, transparent 44%, rgba(42, 123, 155, 0.5) 0%, rgb(87, 199, 133) 50%, rgb(237, 221, 83) 100%, transparent 54%);
  background-position: 100%;
  background-size: 100% 150%;
  -webkit-filter: brightness(1.2) blur(15px);
          filter: brightness(1.2) blur(15px);
  mix-blend-mode: overlay;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-box:hover {
  -webkit-transform: perspective(350deg);
          transform: perspective(350deg);
  -webkit-transform: rotateX(-5deg) rotateY(20deg);
          transform: rotateX(-5deg) rotateY(20deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-box:hover::after {
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-box:nth-child(2) {
  top: 15px;
}

.user-box:nth-child(3) {
  top: 30px;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.user-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 100%;
}

.user-name {
  margin: 0;
  color: white;
}

.user-summary {
  margin-top: 5px;
  color: hsl(333, 80%, 67%);
}

.user-content {
  margin-top: 0;
  letter-spacing: 1px;
  color: white;
}