@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  .sub-inner {
    max-width: 480px;
    height: 100vh;
  }

  .sub-main {
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    padding: 0;
    border-radius: 0;
  }

  .sub-main-content {
    width: 100%;
    padding: 30px;
  }

  .sub-main-image {
    width: 100%;
  }
  .sub-success {
    margin: 0 auto 0 auto;
    max-width: 480px;
    height: 100vh;
    padding: 40px;
    border-radius: 0;
    background-color: white;
  }
}
